<div class="side_top">
  <a href="#" class="user_name">Tom</p>
  <a href="#" class="chat_make">チャットを作成する</a>
</div>
<div class="side_lower">
  <div class="room_name">
    <a href="#">テックルーム</a>
  </div>
  <div class="room_name">
    <a href="#">テックルーム２</a>
  </div>
</div>