<div class="side_top">

  <div class="user_name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <a href="#" class="chat_make">チャットを作成する</a>
</div>
<div class="side_lower">
  <div class="room_name">
    <a href="#">テックルーム</a>
  </div>
  <div class="room_name">
    <a href="#">テックルーム２</a>
  </div>
</div>