.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_top {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.user_name {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.chat_make {
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;
}

.side_lower {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 20px 20px;
  overflow: scroll;
}

.room_name {
  padding-bottom: 40px;
  color: white;
  text-decoration: none;
}

.main_chat {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.main_header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.main_center {
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 40px;
}

.main_footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
