.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.main_chat {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.side_top {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.side_lower {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.main_header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.main_center {
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 40px;
}

.main_footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
